<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Montserrat:wght@300;400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
    <title>Java Xpress</title>
</head>
<body>
    <% if (locals.messages.errors) { %>
        <% messages.errors.forEach( el => { %>
            <div class="alert alert-danger"><%= el.msg %></div>
        <% }) %>    
    <% } %>
    <section class="main-signUp">
        <h1>JAVA XPRESS</h1>
        <h3>COFFEE SHOP</h3>
        <form action="/signup" method="POST">
            <p>New Employee Sign-up</p>
            <input class="login-input" type="text" name="userName" placeholder="User Name">
            <input class="login-input" type="email" name="email" placeholder="Email">
            <input class="login-input" type="password" name="password" placeholder="Password">
            <input class="login-input" type="password" name="confirmPassword" placeholder="Confirm Password">
            <input class="dark-btn" type="submit">
            <p>Returning User? <a href="/login">Log-In</a></p>
        </form>
    </section>
</body>
</html>